.App {
  text-align: center;
  width: 50%;
  margin: 0 auto;
}

@media (max-width: 480px) {
  .App {
    width: 80%;
  }
}

.grid {
  margin-top: 30px;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(4, 1fr);
}

.card {
  position: relative;
}

.card img {
  width: 80%;
  display: block;
}

.card .revealed {
  transform: rotateY(90deg);
  position: absolute;
  transition: all ease-in 0.2s;
}

.flipped .revealed {
transform: rotateY(90deg);
transition-delay: 0.2s;
}

.card .hidden {
  transition: all ease-in 0.2s;
  transition-delay: 0.2s;
}

.flipped .hidden {
  transform: rotateY(90deg);
  transition-delay: 0s;
}

.flipped .revealed {
  transform: rotateY(0deg);
}

